<hr>


# Data Acquisition

Import libraries

In [14]:
import pandas as pd
import numpy as np

<h2>Read Data</h2>

In [15]:
file_name = "PersianBooks_Dataset.csv"
df = pd.read_csv(file_name)

In [17]:
# show the first 10 rows of dataset
print("The first 10 rows of the dataframe: ")
df.head(10)

The first 10 rows of the dataframe:

,book_id,title,description,price,number_of_page,PhysicalPrice,publishDate,rating,publisher,coveruri,number_of_q,categories,number_of_cm,author_name,translator_name,lang
0,100,هفت گام برای شروع موفق یک کسب و کار,داشتن کسب‌وکاری مستقل، برای بسیاری به‌ویژه جوا...,2000,76,0,1390/05/01,2.6,انتشارات سازمان مدیریت صنعتی,https://img.taaghchecdn.com/frontCover/100.jpg,0,مدیریت و کسب و کار,2,نعیم ظفر,محسن؛ سحر حاجیانی؛ بحریه,En
1,104,صدف نبوت 4,مجموعه اشعار مناسبت های ایام فاطمیه ،ماه های ج...,5000,128,0,1390/01/14,5.0,هلال,https://img.taaghchecdn.com/frontCover/104.jpg,0,شعر کهن,0,غلامرضا سازگار,جواد زهتاب,En
2,107,مرآت ولایت ۲,مجموعه شعر آیینی- شیعی مرآت ولایت نوشته غلامرض...,5000,193,0,1388/03/02,5.0,موسسه هلال,https://img.taaghchecdn.com/frontCover/107.jpg,0,کلیات اسلام,0,غلامرضا سازگار,مسعود اسماعیلی,En
3,108,مرآت ولایت ۳,مجموعه شعر آیینی- شیعی مرآت ولایت نوشته غلامرض...,5000,203,0,1389/02/11,5.0,موسسه هلال,https://img.taaghchecdn.com/frontCover/108.jpg,0,شعر معاصر,0,غلامرضا سازگار,محمّدسعید میرزایی,En
4,109,مرآت ولایت ۴,مجموعه شعر آیینی- شیعی مرآت ولایت نوشته غلامرض...,5000,192,0,1390/01/25,5.0,موسسه هلال,https://img.taaghchecdn.com/frontCover/109.jpg,0,شعر معاصر,0,غلامرضا سازگار,محمّدسعید میرزایی,En
5,110,مرآت ولایت ۵,مجموعه شعر آیینی- شیعی مرآت ولایت نوشته غلامرض...,5000,180,0,1391/01/20,5.0,موسسه هلال,https://img.taaghchecdn.com/frontCover/110.jpg,0,شعر معاصر,0,غلامرضا سازگار,جواد زهتاب,En
6,112,یک ماه خون گرفته ۵,مجموعه شعر آیینی- شیعی یک ماه خون گرفته نوشته ...,5000,311,0,1390/07/02,5.0,موسسه هلال,https://img.taaghchecdn.com/frontCover/112.jpg,0,شعر معاصر,0,غلامرضا سازگار,جواد زهتاب,En
7,113,یک ماه خون گرفته ۴,مجموعه اشعار مناسبت های ماه محرم و صفر,5000,341,0,1389/07/01,5.0,هلال,https://img.taaghchecdn.com/frontCover/113.jpg,0,شعر,0,غلامرضا سازگار,محمّدسعید میرزایی,En
8,114,بهار امامت ۴,مجموعه اشعار مدح و مراثی ویژه ربیعین,5000,95,0,1390/10/14,5.0,هلال,https://img.taaghchecdn.com/frontCover/114.jpg,0,شعر,0,غلامرضا سازگار,محمّدسعید میرزایی,En
9,115,بهار امامت ۳,مجموعه اشعار مدح و مراثی ویژه ربیعین,5000,126,0,1389/10/26,5.0,هلال,https://img.taaghchecdn.com/frontCover/115.jpg,0,شعر,0,غلامرضا سازگار,محمّدسعید میرزایی,En

In [18]:
# Print the last 10 rows 
print("The last 10 rows of the dataframe\n")
df.tail(10)

The last 10 rows of the dataframe

,book_id,title,description,price,number_of_page,PhysicalPrice,publishDate,rating,publisher,coveruri,number_of_q,categories,number_of_cm,author_name,translator_name,lang
15698,45448,بابا لنگ‌دراز,کتاب گویای «بابا لنگ‌دراز» مشهورترین اثر جین و...,12000,0,0,NaN,3.333333,انتشارات پر,https://img.taaghchecdn.com/audioCover/45448.jpg,0,رمان,5,جین وبستر,بهاره برهانی,En
15699,45449,روش برداشت از قرآن,هر کسی برای استفاده از قرآن راهی در پیش گرفته ...,3500,192,11500,1385/10/10,5.000000,انتشارات لیله القدر,https://img.taaghchecdn.com/frontCover/45449.jpg,4,قرآن و علوم قرآنی,4,علی صفایی حائری,NaN,Fa
15700,45451,مجموعه مقالات پنجمین همایش ملی تحلیل گفتمان و ...,تحلیل گفتمان و کاربردشناسی در سطح توصیفی به تو...,15000,248,25000,1397/09/29,NaN,نشر نویسه پارسی,https://img.taaghchecdn.com/frontCover/45451.jpg,0,جامعه‌شناسی,0,فردوس آقاگل‌ زاده,NaN,Fa
15701,45452,اصلی و کَرَم,«اصلی و کَرَم‌» یک داستان عشقی آذربایجانی است....,7500,108,15000,1397/10/01,5.000000,انتشارات موغام,https://img.taaghchecdn.com/frontCover/45452.jpg,0,ادبیات عامیانه و محلی,1,سلجوق شهبازی,NaN,Fa
15702,45455,قیرمیزی بالیق؛ به انضمام متن اصلی ماهی سیاه کو...,رمانی ترکی به معنای ماهی قرمز در ادامه «ماهی س...,6500,92,13000,1397/10/01,NaN,انتشارات موغام,https://img.taaghchecdn.com/frontCover/45455.jpg,0,داستان تاریخی,0,جوانشیر موغانلی,NaN,Fa
15703,45457,غزلیات علی آغا واحد,گیریش\nفخررر ائیلرره مرره ای بولبررول شرریدا چ...,40000,660,80000,1397/08/01,NaN,انتشارات موغام,https://img.taaghchecdn.com/frontCover/45457.jpg,0,ادبیات عامیانه و محلی,0,علی آغا واحد,حسن مجید زاده - ساوالان,En
15704,45459,روانشناسی جنسی؛ رویکردی تکاملی به جذابیت تنوع‌...,«روانشناسی جنسی» مبحثی در روان‌شناسی است که با...,35000,782,80000,1397/10/16,2.200000,انتشارات آذرفر,https://img.taaghchecdn.com/frontCover/45459.jpg,2,روان‌شناسی عمومی,2,داود محمدی,NaN,Fa
15705,45460,English grammar in practice,"English, like other languages, is full of prob...",10000,152,0,1397/10/12,3.666667,انتشارات پشتیبان,https://img.taaghchecdn.com/frontCover/45460.jpg,0,انگلیسی,0,اشرف کیائی,NaN,Fa
15706,45475,روش برداشت از نهج‌البلاغه,«روش برداشت از نهج البلاغه» از سری کتاب‌های «م...,3000,170,9500,1384/10/13,3.666667,انتشارات لیله القدر,https://img.taaghchecdn.com/frontCover/45475.jpg,10,کلیات اسلام,0,علی صفایی حائری,NaN,Fa
15707,45480,فرمول برنامه‌ریزی؛ راهنمایی برای ایجاد فهرست‌ه...,«فرمول برنامه‌ریزی؛ راهنمایی برای ایجاد فهرست‌...,9000,138,27000,1397/10/08,4.413793,نشر نوین,https://img.taaghchecdn.com/frontCover/45480.jpg,10,مدیریت و کسب و کار,5,دیمون زاهاریادس,ژاله بهادری,En

In [19]:
print(df.dtypes)

book_id              int64
title               object
description         object
price                int64
number_of_page       int64
PhysicalPrice        int64
publishDate         object
rating             float64
publisher           object
coveruri            object
number_of_q          int64
categories          object
number_of_cm         int64
author_name         object
translator_name     object
lang                object
dtype: object

In [20]:
df.describe()

,book_id,price,number_of_page,PhysicalPrice,rating,number_of_q,number_of_cm
count,15708.000000,15708.000000,15708.000000,15708.000000,10951.000000,15708.000000,15708.000000
mean,24609.641075,6887.797746,183.540807,9831.277438,3.992425,1.719379,1.557296
std,12312.011287,5916.053279,205.438371,16027.298323,1.059488,3.415321,1.885185
min,100.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000
25%,14733.500000,3000.000000,64.000000,0.000000,3.500000,0.000000,0.000000
50%,25057.500000,5000.000000,141.000000,4000.000000,4.230769,0.000000,1.000000
75%,35019.500000,9500.000000,250.250000,15000.000000,5.000000,1.000000,3.000000
max,45480.000000,97500.000000,5721.000000,480000.000000,5.000000,10.000000,5.000000

In [22]:
# describe all the columns in "df"
df.describe(include = 'all')

,book_id,title,description,price,number_of_page,PhysicalPrice,publishDate,rating,publisher,coveruri,number_of_q,categories,number_of_cm,author_name,translator_name,lang
count,15708.000000,15708,15707,15708.000000,15708.000000,15708.000000,13285,10951.000000,15708,15708,15708.000000,15708,15708.000000,15708,7766,15708
unique,NaN,15166,15392,NaN,NaN,NaN,2782,NaN,593,15708,NaN,160,NaN,7606,5014,2
top,NaN,شازده کوچولو,مجموعه‌ی سی جلدی «نمایشنامه‌های آسان» متناسب ب...,NaN,NaN,NaN,1395/01/01,NaN,انتشارات سوره مهر,https://img.taaghchecdn.com/frontCover/100.jpg,NaN,رمان,NaN,برایان تریسی,احمد کلاتیانی,Fa
freq,NaN,6,29,NaN,NaN,NaN,298,NaN,811,1,NaN,1740,NaN,135,76,7942
mean,24609.641075,NaN,NaN,6887.797746,183.540807,9831.277438,NaN,3.992425,NaN,NaN,1.719379,NaN,1.557296,NaN,NaN,NaN
std,12312.011287,NaN,NaN,5916.053279,205.438371,16027.298323,NaN,1.059488,NaN,NaN,3.415321,NaN,1.885185,NaN,NaN,NaN
min,100.000000,NaN,NaN,0.000000,0.000000,0.000000,NaN,0.500000,NaN,NaN,0.000000,NaN,0.000000,NaN,NaN,NaN
25%,14733.500000,NaN,NaN,3000.000000,64.000000,0.000000,NaN,3.500000,NaN,NaN,0.000000,NaN,0.000000,NaN,NaN,NaN
50%,25057.500000,NaN,NaN,5000.000000,141.000000,4000.000000,NaN,4.230769,NaN,NaN,0.000000,NaN,1.000000,NaN,NaN,NaN
75%,35019.500000,NaN,NaN,9500.000000,250.250000,15000.000000,NaN,5.000000,NaN,NaN,1.000000,NaN,3.000000,NaN,NaN,NaN
max,45480.000000,NaN,NaN,97500.000000,5721.000000,480000.000000,NaN,5.000000,NaN,NaN,10.000000,NaN,5.000000,NaN,NaN,NaN

In [25]:
df[['number_of_page', 'price']].describe()

       number_of_page         price
count    15708.000000  15708.000000
mean       183.540807   6887.797746
std        205.438371   5916.053279
min          0.000000      0.000000
25%         64.000000   3000.000000
50%        141.000000   5000.000000
75%        250.250000   9500.000000
max       5721.000000  97500.000000

<h2>Info</h2>

In [26]:
# Look at info of "df"
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15708 entries, 0 to 15707
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   book_id          15708 non-null  int64
 1   title            15708 non-null  object
 2   description      15707 non-null  object
 3   price            15708 non-null  int64
 4   number_of_page   15708 non-null  int64
 5   PhysicalPrice    15708 non-null  int64
 6   publishDate      13285 non-null  object
 7   rating           10951 non-null  float64
 8   publisher        15708 non-null  object
 9   coveruri         15708 non-null  object
 10  number_of_q      15708 non-null  int64
 11  categories       15708 non-null  object
 12  number_of_cm     15708 non-null  int64
 13  author_name      15708 non-null  object
 14  translator_name  7766 non-null   object
 15  lang             15708 non-null  object
dtypes: float64(1), int64(6), object(9)
memory usage: 1.9+ MB

<hr>

# Data Wrangling

<h2>Identify missing values</h2>

In [28]:
missing_data = df.isnull()
missing_data.head(20)

,book_id,title,description,price,number_of_page,PhysicalPrice,publishDate,rating,publisher,coveruri,number_of_q,categories,number_of_cm,author_name,translator_name,lang
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False

In this Dataset we don't have missing data but if we have we could use numpy library to replce it.

In [ ]:
# replace "?" to NaN
# df.replace("?", np.nan, inplace = True)
# df.head(5)

<h2> Count missing Values in each column </h2>

In [29]:
for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print("")

book_id
book_id
False    15708
Name: count, dtype: int64

title
title
False    15708
Name: count, dtype: int64

description
description
False    15707
True         1
Name: count, dtype: int64

price
price
False    15708
Name: count, dtype: int64

number_of_page
number_of_page
False    15708
Name: count, dtype: int64

PhysicalPrice
PhysicalPrice
False    15708
Name: count, dtype: int64

publishDate
publishDate
False    13285
True      2423
Name: count, dtype: int64

rating
rating
False    10951
True      4757
Name: count, dtype: int64

publisher
publisher
False    15708
Name: count, dtype: int64

coveruri
coveruri
False    15708
Name: count, dtype: int64

number_of_q
number_of_q
False    15708
Name: count, dtype: int64

categories
categories
False    15708
Name: count, dtype: int64

number_of_cm
number_of_cm
False    15708
Name: count, dtype: int64

author_name
author_name
False    15708
Name: count, dtype: int64

translator_name
translator_name
True     7942
False    7766
Name: count, dtype: int64

lang
lang
False    15708
Name: count, dtype: int64

<h2>Deal with missing data</h2>

If we had missing data, we had two options the first one was to Drop data and the second one was to Replace data. Let's see how it works:

In [ ]:
# Calculate the mean and replace the nan values with the average
# avg_loss = df['price'].astype("float").mean(axis = 0)
# df["price"].replace(np.nan, avg_loss, inplace = True)

In [32]:
df['price'].value_counts()

price
5000     1156
3000      944
10000     830
4000      813
6000      756
         ...
17250       1
28750       1
8880        1
16850       1
4550        1
Name: count, Length: 453, dtype: int64

<h2>Correct  data format</h2>

In [33]:
df.dtypes

book_id              int64
title               object
description         object
price                int64
number_of_page       int64
PhysicalPrice        int64
publishDate         object
rating             float64
publisher           object
coveruri            object
number_of_q          int64
categories          object
number_of_cm         int64
author_name         object
translator_name     object
lang                object
dtype: object

<h4>Convert data types to proper format</h4>

In our dataset, all datatypes are correct unless the price column.

In [36]:
df[['price']] = df[['price']].astype('float')

<h2>Data Standardization </h2>